/* ################################# Fonts ################################## */
@font-face {
  font-family: "AvenirNext LT Pro Regular";
  src: local("AvenirNext LT Pro Regular"),
    url(../Assets/Fonts/AvenirNextLTPro-It.otf) format("truetype");
}

/* ################################# Style ################################## */
@media only screen and (min-width: 1000px) {
  .footer-container {
    max-width: 100%;
    color: #303c42;
    font-family: Amazon Ember;
    text-align: center;
    font-size: 1em;
  }

  .ul-footer {
    text-align: left;
    list-style: none;
    font-family: Amazon Ember;
    padding: 0;
    line-height: 1em;
    letter-spacing: 1px;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul li {
    padding: 10px;
  }

  ul li a {
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in-out;
    color: #9ca3b0;
  }

  ul li a:hover {
    border-bottom: 2px solid #e2a300;
    color: #4f4785;
  }

  .box-footer-link {
    list-style: none;
  }

  .box-text-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
  }

  .box-footer {
    padding: 3.5em;
  }

  .box-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .box-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .design-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: AvenirNext LT Pro Regular;
    margin-top: 1em;
  }

  .text-design-by {
    padding: 0.1em;
  }

  .margin-element {
    margin-right: 1em;
  }

  .animation {
    transition: transform 0.2s;
  }

  .animation:hover {
    transform: scale(1.5);

    font-family: Antonio;
    color: #000;
  }
}

@media only screen and (min-width: 501px) and (max-width: 999px) {
  .footer-container {
    max-width: 100%;
    color: #303c42;
    font-family: Amazon Ember;
    text-align: center;
    font-size: 15px;
  }

  .ul-footer {
    text-align: left;
    list-style: none;
    font-family: Amazon Ember;
    padding: 0;
    line-height: 2.3;
    letter-spacing: 1px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul li {
    padding: 10px;
  }

  ul li a {
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in-out;
    color: #9ca3b0;
  }

  ul li a:hover {
    border-bottom: 2px solid #e2a300;
    color: #4f4785;
  }

  .box-footer-link {
    list-style: none;
  }

  .box-text-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
  }

  .box-footer {
    padding: 59px;
  }

  .box-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .box-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .design-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: AvenirNext LT Pro Regular;
    margin-top: 25px;
  }

  .text-design-by {
    padding: 3px;
  }

  .margin-element {
    margin-right: 15px;
  }

  .animation {
    transition: transform 0.2s;
  }

  .animation:hover {
    transform: scale(1.5);

    font-family: Antonio;
    color: #000;
  }
}
@media only screen and (max-width: 500px) {
  .footer-container {
    max-width: 100%;
    color: #303c42;
    font-family: Amazon Ember;
    text-align: center;
    padding: 0;
  }

  .ul-footer {
    text-align: left;
    list-style: none;
    font-family: Amazon Ember;
    padding: 0;
    line-height: 1em;
    letter-spacing: 1px;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul li {
    padding: 10px;
  }

  ul li a {
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in-out;
    color: #9ca3b0;
  }

  ul li a:hover {
    border-bottom: 2px solid #e2a300;
    color: #4f4785;
  }

  .box-footer-link {
    list-style: none;
  }

  .box-text-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5em;
  }

  .box-footer {
    padding: 0.5em;
  }

  .box-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
  }

  .box-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .design-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: AvenirNext LT Pro Regular;
    margin-top: 1.1em;
  }

  .text-design-by {
    padding: 0.5em;
    font-size: 0.75em;
    font-weight: 600;
  }

  .margin-element {
    margin-right: 0.2em;
  }

  .animation {
    transition: transform 0.2s;
  }

  .animation:hover {
    transform: scale(1.5);

    font-family: Antonio;
    color: #000;
  }
}
