/* ################################# Fonts ################################## */
@font-face {
  font-family: "Antonio";
  src: local("Antonio"), url(./Assets/Fonts/Antonio-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Antonio Light";
  src: local("Antonio Light"),
    url(./Assets/Fonts/Antonio-Light.ttf) format("truetype");
}

/* ############################### Default Style ############################### */
html,
body {
  min-height: 100%;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

body {
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}

.col {
  height: 100%;
}

/* ################################# Style ################################## */
@media only screen and (min-width: 1000px) {
  .header {
    background: url(./Assets/bg-header-1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .get-app {
    padding: 2em;
    margin-bottom: 5em;
  }

  .other-version {
    padding-top: 5em;
  }

  .footer {
    background: url(./Assets/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1.5em;
  }
}

@media only screen and (min-width: 501px) and (max-width: 999px) {
  .header {
    background: url(./Assets/bg-header-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .get-app {
    padding: 20px;
    margin-bottom: 15px;
  }

  .footer {
    background: url(./Assets/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    background: url(./Assets/bg-header-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .get-app {
    padding: 0.5em;
    margin-bottom: 33em;
  }

  .other-version {
    padding-top: 4em;
  }

  .footer {
    background: url(./Assets/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0.6em;
  }
}
